<!-- Main -->
<div id="main">

    <!-- Post -->
    <section class="post">
        <!-- Lists -->
        <div class="row">
            <div class="6u 12u$(small)">


            </div>

        </div>
        <!-- Table -->
        <!-- Form -->
        <center>
            <h2><u>Login</u></h2>
        </center>


        <div  class="alt">
            <div class="row uniform">
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="email" id="email" value="" placeholder="Email" ng-model="email" required/>
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="password" name="pwd" id="pwd" value="" placeholder="Password" ng-model="password" required/>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Login" ng-click="login()"/></li>
                    <li><a href="brands.html">Don't have an account? Brands Sign-up here</a></li>
                </ul>

            </div>
        </div>

        <hr />
        <!-- Social Media Links -->
        <center>
            <div class="6u$ 12u$(small)">
                <h3>Social Media Links</h3>
                <ul class="icons alt">
                    <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                </ul>
            </div>
        </center>
        <footer id="footer">
        </footer>
        <!-- Copyright -->
        <div id="copyright">
            <ul><li>Copyright &copy; 2017 new story telling lab</li><li>nxstlab</li><li>Kulina Inc.</li></ul>
        </div>

    </section>
</div>