
    <!-- Main -->
    <nav id="nav">
        <ul class="links">


            <li class="active"><a href="#/admin">Admin</a></li>
            <li><a href="#/influmanage">Influencer Manage</a></li>
            <li><a href="#/manage">Brand Manage</a></li>
            <li><a href="#/inlist">Search Influencers</a></li>
            <li><a href="#/adminSignUp">Admin Signup</a></li>
            <li><a href="#/approvecamp">Approve Campaign</a></li>


        </ul>
        <ul class="icons">
            <li><a href="#/logout" class="icon fa-sign-out" alt="Sign Out" title="Sign Out"></a></li>
            <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
    </nav>
    <div id="main">

        <!-- Post -->

        <section class="posts">
            <article>
                <h2>Brand Requests</h2>
                <br>
                <div class="cards-container">
                    <div class="myCards fade" ng-repeat="x in brandData">
                        <center>
                            <form class="card-container">
                                <div class="field">
                                    <img class="image fit" src={{x.image}}>
                                    <label><b>{{x.company_name}}</b></label>
                                    <label><b>{{x.address}}</b></label>
                                    <!--<label ng-model="cinfo"><b>{{x.campaign_info_rqmts}}</b></label>-->
                                    <button ng-click="approveBrand(x)">Approve</button>
                                    <button ng-click="denyBrand(x)">Deny   </button>
                                </div>
                            </form>
                        </center>
                    </div>

                    <!--<a class="prev" onclick="plusCards(-1, 0)">&#10094;</a>-->
                    <!--<a class="next" onclick="plusCards(1, 0)">&#10095;</a>-->
                </div>
            </article>
            <article>
                <h2>Campaign Requests</h2>
                <br>
                <div class="cards-container">
                    <div class="myCamps fade" ng-repeat="y in campaignData">
                        <center>
                            <form class="card-container">
                                <div class="field">
                                    <img class="image fit" src={{y.image}}>
                                    <label><b>{{y.campaign_name}}</b></label>
                                    <label><b>{{y.associated_brand}}</b></label>
                                    <!--<label ng-model="cinfo"><b>{{x.campaign_info_rqmts}}</b></label>-->
                                    <button ng-click="approveCampaign(y)">Approve</button>
                                    <button ng-click="denyCampaign(y)">Deny   </button>
                                </div>
                            </form>
                        </center>
                    </div>

                    <!--<a class="prev" onclick="plusCards(-1, 1)">&#10094;</a>-->
                    <!--<a class="next" onclick="plusCards(1, 1)">&#10095;</a>-->
                </div>
            </article>
        </section>
    </div>
<script>
    var cardIndex = [1,1];
    var cardId = ["myCards", "myCamps"]
    showCards(1, 0);
    showCards(1, 1);

    function plusCards(n, no) {
        showCards(cardIndex[no] += n, no);
    }


function showCards(n, no) {
    var i;
    var x = document.getElementsByClassName(cardId[no]);
    if (n > x.length) {cardIndex[no] = 1}
    if (n < 1) {cardIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[cardIndex[no]-1].style.display = "block";
}
</script>


