
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="posts">
            <article>
                <h2>Brand Requests</h2>
                <div class="container">
                    <a class="prev container-nav-a" onclick="">❮</a>
                    <form action="/action_page.php" class="card-container">
                        <div class="field">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                <label for="cname"><b>Company Name</b></label>
                                <label for="plist"><b>Company Description and Products List</b></label>
                                <button>Approve</button>
                                <button>Deny   </button>
                                <h3></h3>
                                </div>
                    </form>
                    <a class="next container-nav-a" onclick="">❯</a>
                    </div>
            </article>
            <article>
                <h2><a href="#">Campaign Requests</a></h2>
                <div class="container">
                    <form action="/action_page.php" class="card-container">
                        <div class="field">
                            <img class="image fit" src="images/pic04.jpg">
                                <label for="camname"><b>Campaign Name</b></label>
                                <label for="assbrand"><b>Associated Brand</b></label>
                                <label for="plist"><b>Campaign Description and Details</b></label>
                                <button>Approve</button>
                                <button>Deny   </button>
                                <h3></h3>
                                </div>
                    </form>
                    <a class="prev container-nav-a" onclick="">❮</a>
                    <a class="next container-nav-a" onclick="">❯</a>
                </div>

                <!--a href="#" class="prev">&#8249;</a>
                <div class="card">
                    <img src="images/pic05.jpg" alt="John" style="width:100%">
                    <h2>John Doe</h2>
                    <p class="cardTitle">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p><button class="cardButton">Approve</button><button class="cardButton">Deny</button></p>
                </div>
                <a href="#" class="next">&#8250;</a-->
            </article>
        </section>
    </div>