<!-- Nav -->
<nav id="nav">
    <ul class="links">

        <li class="active"><a href="#/blogin">Brand Profile</a></li>
        <li><a href="#/campaign">campaign request</a></li>


    </ul>
    <ul class="icons">
        <li><a href="#/logout" class="icon fa-sign-out" alt="Sign Out" title="Sign Out"></a></li>
        <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</nav>
<!-- Main -->
	<div id="main">
        <section>
            <header>
        <!-- Edit Form-->
        <section>
            <div class="row">
                <div class="col-sm-2">
            <!--<form action="/action_page.php" class="card-container">
                <div class="field">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                        <label for="cname"><b>Company Name</b></label>
                        <label for="poc"><b>Company's Point of Contact</b></label>
                        <label for="cadd"><b>Company Address</b></label>
                        <label for="email"><b>Email Address</b></label>
                        <label for="num"><b>Phone Number</b></label>
                        <hr>
                        <label for="plist"><b>Company Description and Products List</b></label>
                        </div>
            </form>
            </div>-->
            <div class="col-sm-10">
                <!--<button class="open-button" onclick="openForm()" style="margin:15px">Edit Profile</button>-->

                    <form  class="form-container">
                        <div class="field">
                            <img src="/static/uploads/influencer_profile/default.png" class="image fitt" alt="">
                            <h6>Upload a different photo...</h6>
                            <input type="file" class="form-control">
                        </div>
                        <div class="field">
                            <label for="cname"><b>Company Name</b></label>
                            <input type="text" placeholder="Enter Company Name" name="cname" required>
                            </div>
                        <div class="field">
                            <label for="cadd"><b>Company Address</b></label>
                            <input type="text" placeholder="Enter Company Address" name="cadd" required>
                                </div>
                        <div class="field">
                            <label for="poc"><b>Company's Point of Contact</b></label>
                            <input type="text" placeholder="Enter Point of Contact" name="poc">
                                </div>
                        <div class="field">
                            <label for="num"><b>Phone Number</b></label>
                            <input type="text" placeholder="Enter Phone Number" name="num">
                                </div>
                        <div class="field">
                            <label for="plist"><b>Description of Company and Products</b></label>
                            <input type="text" placeholder="Enter Description" name="plist">
                                </div>
                        <div class="field">
                            <label for="pass1"><b>Password</b></label>
                            <input type="text" placeholder="Enter Password" name="pass1">
                                </div>
                        <div class="field">
                            <button type="submit" class="btn">Save</button>
                            <button type="reset" class="reset-button" value ="Reset">Reset</button
                                </div>
                    </form>

                </div>
                </div>
            </section>
</div>
