
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="#/ilogin">Influencer Home</a></li>
        <li><a href="#/icampaign">Influencer Campaign</a></li>


    </ul>
    <ul class="icons">
        <li><a href="#/logout" class="icon fa-sign-out" alt="Sign Out" title="Sign Out"></a></li>
        <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</nav>
<!-- Stylesheet -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">

<!-- jQuery & Bootstrap -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-- Main -->
<div id="main">
    <section>
        <div class="row">

            <div class="col-sm-10">
                <form action="http://localhost:5000/influencer/updateprofile" class="form-container">
                    <div class="field">
                        <img ng-src={{profileImage}} class="image fit" alt="">
                        <h6>Upload a different photo...</h6>
                        <input type="file" name="profileimage" class="form-control">
                    </div>
                    <div ng-repeate="cimage in cimages">
                        <img ng-src={{cimage}} class="image fit" alt="">
                    </div>
                    <div class="field">
                        <h6>Add campaign images</h6>
                        <input type="file" name="campaignimages" multiple>
                    </div>
                    <div class="field">
                        <label for="fname"><b>First Name</b></label>
                        <input ng-model="firstname" type="text" placeholder="Enter here" name="fname">
                    </div>
                    <div class="field">
                        <label for="lname"><b>Last Name</b></label>
                        <input ng-model="lastname" type="text" placeholder="Enter here" name="lname">
                    </div>
                    <div class="field">
                        <label for="handle1"><b>Instagram handle</b></label>
                        <input ng-model="handle" type="text" placeholder="Enter" name="handle1">
                    </div>
                    <div class="field">
                        <label><b>Number of Followers:</b></label>
                        <select name="followers" id="followers" ng-model="followers">
                            <option value="" selected disabled><b>Click to Select No. of Followers</b></option>
                            <option value="low">500-2k</option>
                            <option value="moderate">2k-50k</option>
                            <option value="high">50k+</option>
                        </select>
                    </div>
                    <div>
                        <input name="email" ng-model="email" type="hidden">
                    </div>
                    <div class="field">
                        <label for="pass1"><b>Password</b></label>
                        <input ng-model = "password" type="text" placeholder="Enter Password" name="password">
                    </div>
                    <div class="field">
                        <button type="submit" class="btn">Save</button>
                        <button type="reset" class="reset-button" value ="Reset">Reset</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</div>
