<!-- Main -->
<div id="main">

    <!-- Post -->
    <section class="post">
        <!-- Table -->
        <!-- Form -->
        <center>
            <h2><u>Sign Up Form</u></h2>
        </center>
        <form name="signupForm" method="post" action="#" class="alt">
            <div class="6u 12u$(xsmall) form-group">
                <input type="text" name="fname" id="fname" ng-model="fname" placeholder="First Name" required="required"/>
                <div ng-if="signupForm.fname.$touched || signupSubmitted">
                    <p ng-show="signupForm.fname.$error.required" class="help-block">First Name is required</p>
                </div>
                <input type="text" name="lname" id="lname" ng-model="lname" placeholder="Last Name" required="required"/>
                <div ng-if="signupForm.lname.$touched || signupSubmitted">
                    <p ng-show="signupForm.lname.$error.required" class="help-block">Last name is required</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="email" class="form-control"  ng-model="email" placeholder="Email" name="email" required="required"/>
                <div ng-if="signupForm.email.$touched || signupSubmitted">
                    <p ng-show="signupForm.email.$error.required" class="help-block">Email is required</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="password" class="form-control"  ng-model="password" placeholder="Password" name="password" required="required" ng-minlength="6"/>
                <div ng-if="signupForm.password.$touched || signupSubmitted">
                    <p ng-show="signupForm.password.$error.required" class="help-block">Password is required</p>
                    <p ng-show="signupForm.password.$error.minlength" class="help-block">Minimum 6 character</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="password" class="form-control"  name="confirm_password" ng-model="confirm_password" placeholder="Confirm password" match-password="password" required>
                <div ng-if="signupForm.confirm_password.$touched || signupSubmitted">
                    <p ng-show="signupForm.confirm_password.$error.required" class="help-block">Confirm password is required</p>
                    <p ng-show="signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required" class="help-block">Confirm password didn't match</p>
                </div>
            </div>
            <div class="12u$">
                <div class="field">
                    <h3>Kind of a big deal on... ?</h3>
                    <div class="6u 12u$(small)">
                        <input type="checkbox" id="website" name="website" ng-model="website">
                        <label for="website">Own website/ Blog</label>
                    </div>
                    <div class="6u 12u$(small)">
                        <input type="checkbox" id="insta" name="insta" ng-model="insta">
                        <label for="insta">Instagram</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <input type="checkbox" id="youtube" name="youtube" ng-model="youtube">
                        <label for="youtube">YouTube</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <input type="checkbox" id="facebook" name="facebook" ng-model="facebook">
                        <label for="facebook">Facebook</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <input type="checkbox" id="other" name="other" ng-model="other">
                        <label for="other">Other - If Other, describe below!</label>
                    </div>
                </div>
            </div>
            <div class="12u$">
                <h3>Website and Social Media Handles?</h3>
                <textarea name="socialmedia" id="socialmedia" placeholder="Enter here" rows="1" ng-model="socialmedia"></textarea>
            </div>
            <div class="12u$">
                <h3>Number of followers</h3>
                <select name="followers" id="followers" ng-model="followers">
                    <option value="low">500-2k</option>
                    <option value="moderate">2k-50k</option>
                    <option value="high">50k+</option>
                </select>
            </div>
            <div class="12u$">
                <h3>Area of Interest</h3>
                <table class="table-wrapper" id="page">
                    <tbody>
                        <tr>
                            <td><img src="/static/images/searchFilterImages/animals.jpg" class="image1"/></td>
                            <td><img src="/static/images/searchFilterImages/art.jpg" class="image2"/></td>
                            <td><img src="/static/images/searchFilterImages/books.jpg" class="image3" /> </td>
                            <td><img src="/static/images/searchFilterImages/science.jpg" class="image4" /></td>
                        </tr>
                        <tr >
                            <td><img src="/static/images/searchFilterImages/tech.jpg" class="image5" /></td>
                            <td><img src="/static/images/searchFilterImages/business.jpg" class="image6" /></td>
                            <td><img src="/static/images/searchFilterImages/causes.jpg" class="image7" /></td>
                            <td><img src="/static/images/searchFilterImages/comedy.jpg" class="image8" /></td>
                        </tr>
                        <tr >
                            <td><img src="/static/images/searchFilterImages/dance.jpg" class="image9" /></td>
                            <td><img src="/static/images/searchFilterImages/sport.jpg" class="image10" /></td>
                            <td><img src="/static/images/searchFilterImages/education.jpg" class="image11"  /></td>
                            <td><img src="/static/images/searchFilterImages/style.jpg" class="image12" /></td>
                        </tr>
                        <tr >
                            <td><img src="/static/images/searchFilterImages/entertainment.jpg" class="image13" /></td>
                            <td><img src="/static/images/searchFilterImages/beauty.jpg" class="image14" /></td>
                            <td><img src="/static/images/searchFilterImages/photograph.jpg" class="image15"  /></td>
                            <td><img src="/static/images/searchFilterImages/family.jpg" class="image16" /></td>
                        </tr>
                        <tr>
                            <td><img src="/static/images/searchFilterImages/fashion.jpg" class="image17" /></td>
                            <td><img src="/static/images/searchFilterImages/fitness.jpg" class="image18" /></td>
                            <td><img src="/static/images/searchFilterImages/tv.jpg" class="image19" /></td>
                            <td><img src="/static/images/searchFilterImages/film.jpg" class="image20" /></td>
                        </tr>
                        <tr >
                            <td><img src="/static/images/searchFilterImages/DIY.jpg" class="image21" /></td>
                            <td><img src="/static/images/searchFilterImages/food.jpg" class="image22" /></td>
                            <td><img src="/static/images/searchFilterImages/gaming.jpg" class="image23" /></td>
                            <td><img src="/static/images/searchFilterImages/lifestyle.jpg" class="image24" /></td>
                        </tr>
                        <tr >
                            <td><img src="/static/images/searchFilterImages/politics.jpg" class="image25" /></td>
                            <td><img src="/static/images/searchFilterImages/news.jpg" class="image26" /></td>
                            <td><img src="/static/images/searchFilterImages/journalism.jpg" class="image27" /></td>
                            <td><img src="/static/images/searchFilterImages/travel.jpg" class="image28" /></td>
                        </tr>
                        <tr>
                            <td><img src="/static/images/searchFilterImages/radio.jpg" class="image29" /></td>
                            <td><img src="/static/images/searchFilterImages/music.jpg" class="image30" /></td>


                        </tr>

                    </tbody>
                </table>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Submit"  ng-click="updateinflu()"/></li>
            </ul>
        </form>
        <hr />
        <!-- Social Media Links -->
        <center>
            <div class="6u$ 12u$(small)">
                <h3>Social Media Links</h3>
                <ul class="icons alt">
                    <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                </ul>
            </div>
        </center>
    </section>
</div>
