<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="#/">Home</a></li>

        <li class="active"><a href="#/influencer">Influencers Signup</a></li>
        <li><a href="#/brand">Brands Signup</a></li>
        <li><a href="#/login">Log In</a></li>
        <!--<li><a href="#/campaign">Campaign</a></li>
        <li><a href="#/login">Log In</a></li>
        <li><a href="#/blogin">Brand Profile</a></li>

show above only before log in then depending on role show below
 for admin
        <li><a href="#/admin">Admin</a></li>
        <li><a href="#/influmanage">Influ Manage</a></li>
        <li><a href="#/manage">Search/Manage</a></li>
 for brand. search is common for admin and brand

        <li><a href="#/inlist">Search Influencers</a></li>
        <li><a href="#/campaign">campaign request</a></li>

 for influencer

        <li><a href="#/ilogin">Influencer Home</a></li>
        <li><a href="#/icampaign">Influencer Campaign</a></li>

        <li><a href="#/logout">Logout</a></li>-->

    </ul>
    <ul class="icons">
        <li><a href="https://twitter.com/nxstlab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/nxstlab/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/nxstlab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main"  ng-controller="influencerController">
    <!-- Post -->
    <section class="post">
        <!-- Table -->
        <!-- Form -->
        <center>
            <h2><u>Sign Up Form</u></h2>
        </center>
        <form name="signupForm" class="alt">
            <div class="6u 12u$(xsmall) form-group">
                <input type="text" name="fname" id="fname" ng-model="fname" placeholder="First Name" required="required"/>
                <div ng-if="signupForm.fname.$touched || signupSubmitted">
                    <p ng-show="signupForm.fname.$error.required" class="help-block">First Name is required</p>
                </div>
                <input type="text" name="lname" id="lname" ng-model="lname" placeholder="Last Name" required="required"/>
                <div ng-if="signupForm.lname.$touched || signupSubmitted">
                    <p ng-show="signupForm.lname.$error.required" class="help-block">Last name is required</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="email" class="form-control"  ng-model="email" placeholder="Email" name="email" required="required"/>
                <div ng-if="signupForm.email.$touched || signupSubmitted">
                    <p ng-show="signupForm.email.$error.required" class="help-block">Email is required</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="password" class="form-control"  ng-model="password" placeholder="Password" name="password" required="required" ng-minlength="6"/>
                <div ng-if="signupForm.password.$touched || signupSubmitted">
                    <p ng-show="signupForm.password.$error.required" class="help-block">Password is required</p>
                    <p ng-show="signupForm.password.$error.minlength" class="help-block">Minimum 6 character</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
                <input type="password" class="form-control"  name="confirm_password" ng-model="confirm_password" placeholder="Confirm password" match-password="password" required>
                <div ng-if="signupForm.confirm_password.$touched || signupSubmitted">
                    <p ng-show="signupForm.confirm_password.$error.required" class="help-block">Confirm password is required</p>
                    <p ng-show="signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required" class="help-block">Confirm password didn't match</p>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall) form-group">
            <input type="date" class="form-control"  ng-model="dob" placeholder="Date of Birth" name="dob" required="required"/>
            <div ng-if="signupForm.dob.$touched || signupSubmitted">
            <p ng-show="signupForm.dob.$error.required" class="help-block">Date of Birth is required</p>
            </div>
            </div>
            <div class="6u 12u$(small)">
            <input type="radio" id="gender1" name="gender" value="true" ng-model="gender" ng-value='"male"' required>
            <label for="gender1">Male</label>
            <input type="radio" id="gender2" name="gender" value="false" ng-model="gender" ng-value='"female"'>
            <label for="gender2">Female</label>

            </div>
            <br>
            <div class="12u$">
                <div class="field">
                    <h3>Kind of a big deal on... ?</h3>
                        <input type="checkbox" id="website" name="website" ng-model="big_deal.website">
                        <label for="website">Own website/ Blog</label>
                        <input type="checkbox" id="insta" name="insta" ng-model="big_deal.insta">
                        <label for="insta">Instagram</label>
                        <input type="checkbox" id="youtube" name="youtube" ng-model="big_deal.youtube">
                        <label for="youtube">YouTube</label>
                        <input type="checkbox" id="facebook" name="facebook" ng-model="big_deal.facebook">
                        <label for="facebook">Facebook</label>
                        <input type="checkbox" id="other" name="other" ng-model="big_deal.other">
                        <label for="other">Other</label>
                </div>
            </div>
<br>
            <div class="12u$">
                <textarea name="socialmedia" id="socialmedia" placeholder="Enter Website and Social Media Handles here" rows="1" ng-model="socialmedia"></textarea>
            </div>
            <br>
            <div class="12u$">
                <select name="followers" id="followers" ng-model="followers">
                    <option value="" selected disabled><b>Click to Select No. of Followers</b></option>
                    <option value="low">500-2k</option>
                    <option value="moderate">2k-50k</option>
                    <option value="high">50k+</option>
                </select>
            </div>
            <br>
            <div class="12u$">
                <h3>Area of Interest</h3>
                <table class="table-wrapper" id="page">
                    <tbody>
                    <tr>
                    <td ng-repeat="x in records1">
                        <img src={{x.path}} class= {{x.class}} ng-click='addClass1(x.index)'/>

                    </td></tr>
                    <tr>
                        <td ng-repeat="x in records2">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass2(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records3">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass3(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records4">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass4(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records5">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass5(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records6">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass6(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records7">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass7(x.index)'/>

                        </td></tr>
                    <tr>
                        <td ng-repeat="x in records8">
                            <img src={{x.path}} class= {{x.class}} ng-click='addClass8(x.index)'/>

                        </td></tr>

                    </tbody>
                </table>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Sign-up" ng-click="updateinflu()"/></li>
            </ul>
        </form>
        <hr />
        <!-- Social Media Links -->

    </section>
</div>
