<!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="posts">
            <article>
                <h2><a href="#">Brands</a></h2>
                <ul class="displayLists">
                    <li><a onclick="getBrandDetails()">Brand 1</a></li>
                    <li><a onclick="getBrandDetails()">Brand 2</a></li>
                    <li><a onclick="getBrandDetails()">Brand 3</a></li>
                    <li><a onclick="getBrandDetails()">Brand 4</a></li>
                </ul>
            </article>
            <article>
                <h2><a href="#">Influencers</a></h2>
                <ul class="displayLists">
                    <li><a onclick="getInfluencerDetails()">Influencer 1</a></li>
                    <li><a onclick="getInfluencerDetails()">Influencer 2</a></li>
                    <li><a onclick="getInfluencerDetails()">Influencer 3</a></li>
                </ul>
            </article>
        </section>