<!DOCTYPE HTML>

<html>
<head>
	<title>nxstlab</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in" ng-app="mainApp">

	<!-- Intro -->
	<div id="intro">
		<h1>nxstlab</h1>
		<p>We are growing community of creative influencers & brands.</p>
		<ul class="actions">
		</ul>
	</div>
	<!-- Header-->
	<header id="header">
		<a href="#/" class="logo"><img src="/static/images/logo.png" alt="" /></a>
	</header>

	<div ng-view ></div>

	<!-- Copyright -->
	<div id="copyright">
		<ul><li>Copyright &copy; 2017 new story telling lab</li><li>nxstlab</li><li>Kulina Inc.</li></ul>
	</div>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.scrollex.min.js"></script>
<script src="/static/assets/js/jquery.scrolly.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
<script src="static/scripts/app.js"></script>
<script src="static/scripts/logoutController.js"></script>    
<script src="static/scripts/indexController.js"></script>    
<script src="static/scripts/adminController.js"></script>
<script src="static/scripts/influencerController.js"></script>
<script src="static/scripts/brandController.js"></script>
    
</body>
</html>
